<header>
  <nav class="navbar navbar-light bg-dark min-vw-100">
    <a href="/api/products">
      <img src="/img/logo-2019.png" width="300px" />
    </a>
    <div class="welcome-message text-white">
      Bienvenido/a, {{first_name}} {{last_name}} <br>
      Role: {{role}}



    </div>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                Perfil
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li class="nav-item">
                  <a href="/api/users/current" class="nav-link">
                    Mi Perfil
                  </a>
                </li>
                {{#isEqualOr adminValidation "user" "premium"}}
                <!-- Bloque para cuando adminValidation es "user" o "premium" -->
                <li class="nav-item">
                  <a href="/api/users/purchaseHistory" class="nav-link">
                    Mis Compras
                  </a>
                </li>
                    <li class="nav-item">
                    <a href="/api/users/premium/{{tokenId}}" class="nav-link">
                      Cambio de Rol
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/api/users/{{tokenId}}/documents" class="nav-link">
                      Subir documentos
                    </a>
                  </li>
                {{/isEqualOr}}

                <li class="nav-item">
                  <a href="/api/auth/logout" class="nav-link">
                    Cerrar Session
                  </a>
                </li>
              </ul>
            </li>
            {{#isEqual adminValidation "admin"}}
            <li class="nav-item">
              <a class="nav-link" href="/api/users/list">
                Mantenedor de usuarios
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                Mantenedor de productos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li class="nav-item">
                  <a href="/api/products/manager/create" class="nav-link">
                    Crear Producto
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/api/products/manager/delete" class="nav-link">
                    Eliminar Producto
                  </a>
                </li>
              </ul>
            </li>
            {{else}}
            {{#isEqual adminValidation "premium"}}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                Mantenedor de productos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li class="nav-item">
                  <a href="/api/products/manager/create" class="nav-link">
                    Crear Producto
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/api/products/manager/delete" class="nav-link">
                    Eliminar Producto
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/chat">
                Chat
              </a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/api/chat">
                Chat
              </a>
            </li>
            {{/isEqual}}
            {{/isEqual}}
          </ul>
        </div>
      </div>
    </div>




    <!-- Icono de carrito de compras -->
    <a class="nav-link text-white fw-bold cart" href="/api/carts/{{cartId}}">
      <i class="bi bi-cart mx-5" id="carritoContenedor">{{totalProducts}}</i>
    </a>
  </nav>
</header>


<div class="cart-container">
  <h2 id="cartId" style="display: none">
    {{cartId}}
  </h2>
  <table class="table">
    <thead>
      <tr style="text-align: center;">
        <th>
          Producto
        </th>
        <th>
          Nombre
        </th>
        <th>
          Precio
        </th>
        <th>
          Cantidad
        </th>
        <th>
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr style="text-align: center;" id="product-{{this._id}}">
        <td>
          <img class="img-carrito" src="{{this.thumbnail}}" />
        </td>
        <td>
          {{this.title}}
        </td>
        <td>
          ${{this.price}}
        </td>
        <td>
          <button style="display: inline-block; margin-left: 10px;" class="btn btn-danger ml-2" type="button"
            onclick="deleteOneProduct('{{this._id}}','{{../cartId}}')">
            -
          </button>

          <p id="quantity-{{this._id}}" style="display: inline-block; margin: 0 10px;">
            {{this.quantity}}
          </p>

          <button style="display: inline-block; margin-right: 10px;" class="btn btn-primary mr-2" id="{{this._id}}"
            onclick="addProductFromFront('{{this._id}}','{{../cartId}}','{{../tokenId}}')">
            +
          </button>
        </td>
        <td>
          <button class="btn btn-danger" onclick="deleteProduct('{{this._id}}','{{../cartId}}')">
            Eliminar
          </button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<a href="/api/products" class="btn btn-primary">
  Ir a Producto
</a>
<a href="/api/carts/{{cartId}}/purchase" class="btn btn-primary">
  COMPRAR
</a>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/cart.js"></script>