<header>
  <nav class="navbar navbar-light bg-dark min-vw-100">
    <a href="/api/products">
      <img src="/img/logo-2019.png" width="300px" />
    </a>
    <div class="welcome-message text-white">
      Bienvenido/a,
      {{first_name}}
      {{last_name}}<br />
      Role:
      {{role}}
    </div>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                Perfil
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li class="nav-item">
                  <a href="/api/users/current" class="nav-link">
                    Mi Perfil
                  </a>
                </li>
                {{#isEqualOr adminValidation "user" "premium"}}
                  <!-- Bloque para cuando adminValidation es "user" o "premium" -->
                  <li class="nav-item">
                    <a href="/api/users/purchaseHistory" class="nav-link">
                      Mis Compras
                    </a>
                  </li>
                {{/isEqualOr}}

                <li class="nav-item">
                  <a href="/api/auth/logout" class="nav-link">
                    Cerrar Session
                  </a>
                </li>
              </ul>
            </li>
            {{#isEqual adminValidation "admin"}}
              <li class="nav-item">
                <a class="nav-link" href="/api/users/list">
                  Mantenedor de usuarios
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  Mantenedor de productos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li class="nav-item">
                    <a href="/api/products/manager/product" class="nav-link">
                      Crear Producto
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/api/products/manager/delete" class="nav-link">
                      Eliminar Producto
                    </a>
                  </li>
                </ul>
              </li>
            {{else}}
              {{#isEqual adminValidation "premium"}}
                <li class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                  >
                    Mantenedor de productos
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li class="nav-item">
                      <a href="/api/products/create/product" class="nav-link">
                        Crear Producto
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Eliminar Producto
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api/chat">
                    Chat
                  </a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/api/chat">
                    Chat
                  </a>
                </li>
              {{/isEqual}}
            {{/isEqual}}
          </ul>
        </div>
      </div>
    </div>

    <!-- Icono de carrito de compras -->
    <a class="nav-link text-white fw-bold cart" href="/api/carts/{{cartId}}">
      <i class="bi bi-cart mx-5" id="carritoContenedor">
        {{totalProducts}}
      </i>
    </a>
  </nav>
</header>

<div class="product-container" id="product-list" style="margin-left:auto; margin-right:auto">
  <h2 id="cartId" style="display: none">{{cartId}}</h2>
  {{#each products}}
  {{#if this._id}}
   <div class="card mt-3 mx-2" id="product-{{this._id}}" style="width: 18rem;">
      <img class="card-img-top mt-2 img-info" id="product-image-${producto.id}" onclick="location.href='/api/products/details/{{this._id}}'" src="{{this.thumbnail}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" id="text">{{this.title}}</h5>
          
         
        </div>
        <a class="btn btn-danger mb-2" onclick="deleteProduct('{{this._id}}')">Eliminar</a>
    </div>
    {{/if}}
  {{/each}}
</div>
</div>

  </form>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/delete-product.js"></script>