<header>
  <nav class="navbar navbar-light bg-dark min-vw-100">
    <a href="/api/products">
      <img src="/img/logo-2019.png" width="300px" />
    </a>
    <div class="welcome-message text-white">
      Bienvenido/a,
      {{first_name}}
      {{last_name}}
    </div>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                Perfil
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li class="nav-item">
                  <a href="/api/users/current" class="nav-link">
                    Mi Perfil
                  </a>
                </li>
                {{#isEqualOr userValidation "user" "premium"}}
                  <!-- Bloque para cuando userValidation es "user" o "premium" -->
                  <li class="nav-item">
                    <a href="/api/users/purchaseHistory" class="nav-link">
                      Mis Compras
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/api/users/premium/{{tokenid}}" class="nav-link">
                      Cambio de Rol
                    </a>
                  </li>
                {{/isEqualOr}}

                <li class="nav-item">
                  <a href="/api/auth/logout" class="nav-link">
                    Cerrar Session
                  </a>
                </li>
              </ul>
            </li>
            {{#isEqual userValidation "admin"}}
              <li class="nav-item">
                <a class="nav-link" href="/api/users/list">
                  Mantenedor de usuarios
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  Mantenedor de productos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li class="nav-item">
                    <a href="/api/products/manager/create" class="nav-link">
                      Crear Producto
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Eliminar Producto
                    </a>
                  </li>
                </ul>
              </li>
            {{else}}
              {{#isEqual userValidation "premium"}}
                <li class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                  >
                    Mantenedor de productos
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li class="nav-item">
                      <a href="/api/products/manager/create" class="nav-link">
                        Crear Producto
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/api/products/manager/delete" class="nav-link">
                        Eliminar Producto
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api/chat">
                    Chat
                  </a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/api/chat">
                    Chat
                  </a>
                </li>
              {{/isEqual}}
            {{/isEqual}}
          </ul>
        </div>
      </div>
    </div>

    <!-- Icono de carrito de compras -->
    <a class="nav-link text-white fw-bold cart" href="/api/carts/{{cartId}}">
      <i class="bi bi-cart mx-5" id="carritoContenedor">
        {{totalProducts}}
      </i>
    </a>
  </nav>
</header>
<div class="container mt-5">
  <h1 class="text-white text-center">
    Historial de Compras
  </h1>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          N° de Compra
        </th>
        <th scope="col">
          Detalle
        </th>
        <th scope="col">
          Monto
        </th>
        <th scope="col">
          Fecha
        </th>
      </tr>
    </thead>
    {{#each purchaseHistory}}
      <tbody>
        <tr>
          <td>
            {{this._id}}
          </td>
          <td>
            {{#each this.details}}
              {{this}}
              <br />
            {{/each}}
          </td>
          <td>
            {{this.amount}}
          </td>
          <td>
            {{this.purchase_datetime}}
          </td>
        </tr>

        <!-- Agrega más filas según tus datos -->
      </tbody>
    {{/each}}
  </table>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>